html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 0.625em;
}

#gmap {
	width: 100%;
	height: 100%;
}

.tweet_content {
	font-family: Helvetica, Arial;
	width: 400px;
	font-size: 1.1em;
}

.tweet_content img {
	float: left;
	vertical-align: center;
	margin-right: 5px;
}