html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 0.625em;
}

#map {
	width: 100%;
	height: 100%;
}

.tweet_content {
	font-family: Helvetica, Arial;
	font-size: 1.1em;
	width: 260px;
}

.tweet_content img {
	float: right;
	vertical-align: center;
	margin-left: 5px;
	margin-bottom: 5px;
}

.tweet_content blockquote {
	margin: 0px;
	margin-bottom: 5px;
}

.tweet_user {
	font-weight: bold;
}